In [1]:
import pandas_datareader as pdr

In [2]:
import datetime

In [3]:
start = datetime.datetime(2019, 1, 1)
end = datetime.datetime(2020, 1, 1)
start_date_str = str(start.date())
end_date_str = str(end.date())

In [4]:
stocks = ['MMM', 'AXP', 'AAPL', 'BA', 'CAT', 'CVX', 'CSCO', 'KO', 'DIS', 'XOM', 'GE',
          'GS', 'HD', 'IBM', 'INTC', 'JNJ', 'JPM', 'MCD', 'MRK', 'MSFT', 'NKE', 'PFE',
          'PG', 'TRV', 'UTX', 'UNH', 'VZ', 'WMT', 'GOOGL', 'AMZN','ADBE','COST','NVDA',
          'PYPL','PEP','REGN','SBUX','ADS','INFY','TGT','HOG','T','VZ','BAC','UPS','UNP','JBHT','KEX','FB','NFLX']

In [ ]:
for ticker in stocks:
    file_name = 'data/' + ticker + '_' + start_date_str + '_to_' + end_date_str + '.csv'
    print(file_name)
    data = pdr.DataReader(ticker, 'yahoo', start, end)
    print(data.shape)
    data.to_csv(file_name)

data/MMM_2019-01-01_to_2020-01-01.csv
(253, 6)
data/AXP_2019-01-01_to_2020-01-01.csv
(253, 6)
data/AAPL_2019-01-01_to_2020-01-01.csv
(253, 6)
data/BA_2019-01-01_to_2020-01-01.csv
(253, 6)
data/CAT_2019-01-01_to_2020-01-01.csv
(253, 6)
data/CVX_2019-01-01_to_2020-01-01.csv
(253, 6)
data/CSCO_2019-01-01_to_2020-01-01.csv
(253, 6)
data/KO_2019-01-01_to_2020-01-01.csv
(253, 6)
data/DIS_2019-01-01_to_2020-01-01.csv
(253, 6)
data/XOM_2019-01-01_to_2020-01-01.csv
(253, 6)
data/GE_2019-01-01_to_2020-01-01.csv
(253, 6)
data/GS_2019-01-01_to_2020-01-01.csv
(253, 6)
data/HD_2019-01-01_to_2020-01-01.csv
(253, 6)
data/IBM_2019-01-01_to_2020-01-01.csv
(253, 6)
data/INTC_2019-01-01_to_2020-01-01.csv
(253, 6)
data/JNJ_2019-01-01_to_2020-01-01.csv
(253, 6)
data/JPM_2019-01-01_to_2020-01-01.csv
(253, 6)
data/MCD_2019-01-01_to_2020-01-01.csv
(253, 6)
data/MRK_2019-01-01_to_2020-01-01.csv
(253, 6)
data/MSFT_2019-01-01_to_2020-01-01.csv
(253, 6)
data/NKE_2019-01-01_to_2020-01-01.csv
(253, 6)
data/PFE_2019-01-01_to_2020-01-01.csv
(253, 6)
data/PG_2019-01-01_to_2020-01-01.csv
(253, 6)
data/TRV_2019-01-01_to_2020-01-01.csv
(253, 6)
data/UTX_2019-01-01_to_2020-01-01.csv
(253, 6)
data/UNH_2019-01-01_to_2020-01-01.csv
(253, 6)
data/VZ_2019-01-01_to_2020-01-01.csv
(253, 6)
data/WMT_2019-01-01_to_2020-01-01.csv
(253, 6)
data/GOOGL_2019-01-01_to_2020-01-01.csv
(253, 6)
data/AMZN_2019-01-01_to_2020-01-01.csv
(253, 6)
data/ADBE_2019-01-01_to_2020-01-01.csv
(253, 6)
data/COST_2019-01-01_to_2020-01-01.csv
(253, 6)
data/NVDA_2019-01-01_to_2020-01-01.csv
(253, 6)
data/PYPL_2019-01-01_to_2020-01-01.csv
(253, 6)
data/PEP_2019-01-01_to_2020-01-01.csv
(253, 6)
data/REGN_2019-01-01_to_2020-01-01.csv
(253, 6)
data/SBUX_2019-01-01_to_2020-01-01.csv
(253, 6)
data/ADS_2019-01-01_to_2020-01-01.csv
(253, 6)
data/INFY_2019-01-01_to_2020-01-01.csv
(253, 6)
data/TGT_2019-01-01_to_2020-01-01.csv
(253, 6)
data/HOG_2019-01-01_to_2020-01-01.csv
(253, 6)
data/T_2019-01-01_to_2020-01-01.csv

In [ ]:
import pandas as pd

In [ ]:
for (i, ticker) in enumerate(stocks):
    file_name = 'data/' + ticker + '_' + start_date_str + '_to_' + end_date_str + '.csv'
    print(file_name)
    data = pd.read_csv(file_name, parse_dates=['Date'], index_col=['Date'])
    print(data.shape)
    data['Name'] = ticker
    data.to_csv(file_name)
    
    if i == 0:
        all_stocks = data
    else:
        all_stocks = all_stocks.append(data)
        
print(all_stocks.shape)
all_stocks_file_name = 'data/all_stocks_' + start_date_str + '_to_' + end_date_str + '.csv'
all_stocks.to_csv(all_stocks_file_name)

In [9]:
print(all_stocks.shape)

(11891, 7)

In [10]:
all_stocks = pd.read_csv(all_stocks_file_name, parse_dates=['Date'], index_col=['Date'])

In [11]:
all_stocks_2019 = all_stocks.loc['2019']

In [12]:
all_stocks_2019

,High,Low,Open,Close,Volume,Adj Close,Name
Date,,,,,,,
2019-01-02,190.990005,186.699997,187.820007,190.949997,2475200.0,179.635086,MMM
2019-01-03,188.279999,182.889999,188.279999,183.759995,3358200.0,172.871124,MMM
2019-01-04,191.979996,186.029999,186.750000,191.320007,2995100.0,179.983185,MMM
2019-01-07,192.300003,188.660004,191.360001,190.880005,2162200.0,179.569214,MMM
2019-01-08,194.110001,189.580002,193.000000,191.679993,2479800.0,180.321808,MMM
...,...,...,...,...,...,...,...
2019-12-24,117.010002,115.870003,116.370003,116.559998,164100.0,115.727264,JBHT
2019-12-26,117.129997,115.910004,116.949997,116.750000,252800.0,115.915909,JBHT
2019-12-27,117.110001,116.290001,116.750000,116.680000,333500.0,115.846405,JBHT
2019-12-30,116.970001,114.389999,116.639999,116.580002,295600.0,115.747124,JBHT
2019-12-31,117.199997,115.739998,116.330002,116.779999,448200.0,115.945686,JBHT

In [13]:
pdr.nasdaq_trader.get_nasdaq_symbols(retry_count=1, timeout=30, pause=None)

,Nasdaq Traded,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
Symbol,,,,,,,,,,,
A,True,"Agilent Technologies, Inc. Common Stock",N,,False,100.0,False,NaN,A,A,False
AA,True,Alcoa Corporation Common Stock,N,,False,100.0,False,NaN,AA,AA,False
AAA,True,Listed Funds Trust AAF First Priority CLO Bond...,P,,True,100.0,False,NaN,AAA,AAA,False
AAAU,True,Perth Mint Physical Gold ETF,P,,True,100.0,False,NaN,AAAU,AAAU,False
AACG,True,ATA Creativity Global - American Depositary Sh...,Q,G,False,100.0,False,N,NaN,AACG,False
...,...,...,...,...,...,...,...,...,...,...,...
ZXYZ.A,True,Nasdaq Symbology Test Common Stock,Q,Q,False,100.0,True,N,NaN,ZXYZ.A,False
ZXZZT,True,NASDAQ TEST STOCK,Q,G,False,100.0,True,N,NaN,ZXZZT,False
ZYME,True,Zymeworks Inc. Common Shares,N,,False,100.0,False,NaN,ZYME,ZYME,False
ZYNE,True,"Zynerba Pharmaceuticals, Inc. - Common Stock",Q,G,False,100.0,False,N,NaN,ZYNE,False
ZYXI,True,"Zynex, Inc. - Common Stock",Q,S,False,100.0,False,N,NaN,ZYXI,False